@use "../../scss" as *;
.video {
  width: 100%;
  height: 135vh;
  position: fixed;
  top: -130px;
  left: 0;
  z-index: -10;
  object-fit: cover;
}
.overlay {
  @include overlay(fixed, 0.2, -5);
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 250px;
    background-image: linear-gradient(
      rgba($color: #000000, $alpha: 0),
      rgba($color: #000000, $alpha: 1)
    );
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  color: rgba($color: #ffffff, $alpha: 1);
  font-size: 1.8rem;
  p {
    color: red;
  }
  .container {
    width: 50%;
    margin-top: 50px;
    padding-bottom: 30px;
  }
  .content {
    margin-top: 30px;
    padding: 20px 50px;
    h1 {
      text-align: center;
      color: rgb(62, 147, 243);
      margin-bottom: 20px;
    }
    .firebaseProvider {
      @include flex(unset, center);
      margin-bottom: 30px;
      button {
        background-color: #ffffff;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
    }
  }
  .email,
  .password,
  .firstname,
  .lastname {
    position: relative;
    input {
      font-size: 1.8rem;
      background-color: rgb(51 51 53);
      border: none;
      border-radius: 10px;
      padding: 20px;
      width: 100%;
      font-weight: 400;
      outline: none;
      color: #fff;
      &::placeholder {
        color: rgba($color: #fff, $alpha: 0.5);
      }
    }
    svg {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
  .form {
    .email,
    .password {
      margin: 15px 0;
    }
  }
  .submit {
    text-align: center;
    input {
      color: #fff;
      font-size: 1.8rem;
      background-color: rgb(38, 101, 236);
      border: none;
      border-radius: 30px;
      padding: 20px 50px;
      outline: none;
      transition: all 0.25s ease;
      &:hover {
        background-color: rgb(3, 70, 216);
      }
    }
  }
  .change-tab__form {
    text-align: center;
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 500;
    button {
      font-size: 2rem;
      font-weight: 500;
      color: rgb(19, 89, 240);
      text-decoration: underline;
    }
  }
  //Sign up
  .fullname {
    @include flex(unset, space-between);
    margin-bottom: 20px;
    .firstname,
    .lastname {
      width: 48%;
    }
  }
  .email,
  .password {
    margin: 15px 0;
  }
}
.noti__login__status {
  @include overlay(fixed, 0.4, 1);
  color: #000000;
  .noti {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    div {
      margin: auto;
      text-align: center;
      p {
        color: #2e2c2c;
        margin: 20px 0;
        font-weight: 500;
      }
      button {
        font-size: 1.8rem;
        background-color: rgba($color: #ec322b, $alpha: 1);
        color: #ffffff;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
}
@media (max-width: 46.25em) {
  .wrapper {
    .container {
      width: 80%;
      .fullname {
        display: block;
        .firstname,
        .lastname {
          width: 100%;
          margin: 20px 0;
        }
      }
    }
    .content {
      padding: 0;
    }
  }
}
