@use "../../scss" as *;

.modal__menu__right.modal__menu {
  color: $white;
  width: 30rem;
  font-size: 1.6rem;
  padding: 2rem 2rem 0 2rem;
}
@media (max-width: 420px) {
  .modal__menu__right.modal__menu {
    display: none;
  }
}
