@use "../../scss" as *;
.home {
  padding: 10px;
  color: #fff;
  flex: 1;
}
.media__change {
  @include flex(center, space-between);
  .user {
    @include flex(center, unset);
    margin-right: 20px;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .logo__user {
    img {
      margin-left: 15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
.list__type {
  width: 700px;
}
.type {
  h2 {
    padding: 10px 0;
  }
}
@media (max-width: 1024px) {
  .list__type {
    width: 95%;
  }
}
@media (max-width: 740px) {
  .list__type {
    width: 100%;
  }
}
.slider {
}
.slider__content {
}
.genres {
}
