@use "../../scss/" as *;
.change {
  @include flex(unset, unset);
  width: 20rem;

  button {
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  border-bottom: 1px solid rgb(241, 9, 9);
  margin-bottom: 2rem;
  .movie__change,
  .tv__change {
    position: relative;
    color: rgba($color: #fcfafa, $alpha: 0.5);
    width: 50%;
    background-color: transparent;
    padding: 1rem 2rem;
    &.activeMedia {
      color: rgba($color: #ffffff, $alpha: 1);
      &::after {
        position: absolute;
        background-color: rgba($color: #ffffff, $alpha: 1);
        content: "";
        bottom: 0;
        left: calc(50% - 1rem);
        transform: translateY(calc(-50% + 1rem));
        height: 0.2rem;
        width: 2rem;
      }
    }
  }
}
