@use "../../scss/" as *;
.change {
  @include flex(unset, unset);
  button {
    font-size: 1.8rem;
    font-weight: 500;
  }
  border-bottom: 1px solid rgb(241, 9, 9);
  margin-bottom: 10px;
  .movie__change,
  .tv__change {
    position: relative;
    color: rgba($color: #fcfafa, $alpha: 0.5);
    background-color: transparent;
    padding: 10px 10px;
    &.activeMedia {
      color: rgba($color: #ffffff, $alpha: 1);
      &::after {
        position: absolute;
        background-color: rgba($color: #ffffff, $alpha: 1);
        content: "";
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 20px;
      }
    }
  }
}
