@use "../../scss" as *;

.film {
  padding-right: 10px;
  .backdrop__image {
    position: relative;
    background-position: center top;
    background-size: cover;
    .overlay {
      @include overlay(absolute, 0.5, unset);
    }
  }
  .function__btn {
    position: absolute;
    top: 20px;
    right: 10px;
    display: flex;
    z-index: 2;
    button {
      margin: 0 5px;
      background-color: transparent;
      border: 3px solid #fff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      &.isbookmark {
        background-color: #ffbaba;
        border-color: #eb6d6d;
      }
      svg {
        transform: translateY(2px);
      }
      &:hover {
        border: 3px solid #ec6363;
      }
    }
  }
}
.heading {
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(25%);
  width: 100%;
  z-index: 1;
  color: #fff;
  @include flex(center, unset);
  img {
    border-radius: 10px;
    height: 300px;
  }
  button {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .watch__btn {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    border-radius: 30px;
    background-color: rgba($color: #2e59e7, $alpha: 1);
    border: none;
    padding: 12px 40px 12px 40px;
    color: #fff;
    svg {
      font-size: 3rem;
    }
    span {
      margin-left: 20px;
    }
  }
}
.info {
  position: relative;
  z-index: 9;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  color: #fff;
  .rating__col {
    @include flex(center, center);
    width: 15%;
    margin-top: 120px;
    border-right: 1px solid rgba($color: #fff, $alpha: 0.2);
    & > div {
      div {
        margin: 50px;
        div,
        h3 {
          margin: 20px 0;
          text-align: center;
        }
      }
    }
    div {
      svg {
        width: 100px;
        height: 100px;
      }
    }
  }
  .middle__col {
    border-right: 1px solid rgba($color: #fff, $alpha: 0.2);
    width: 410px;
    max-width: 100%;
    padding: 0 1rem 0 3rem;
    .change {
      @include flex(unset, center);
      li {
        cursor: pointer;
        background-color: transparent;
        font-weight: 600;
        color: rgba($color: #fff, $alpha: 0.6);
        margin: 1rem;
        padding: 1rem;
        outline: none;
        transition: transform 0.5s ease;
        &:hover {
          color: rgba($color: #fff, $alpha: 1);
        }
      }
    }

    .overall__item,
    .cast__item {
      h3 {
        text-align: center;
        margin: 10px 0;
      }
      .story {
        margin-bottom: 20px;
      }
      .story,
      .detail {
        p {
          line-height: 1.5;
          color: rgba($color: #fff, $alpha: 0.5);
        }
        h4 {
          margin-bottom: 20px;
        }
      }
    }
    .overall__item {
      padding-top: 25px;
    }
    .cast__item {
      .scroll {
        padding-top: 30px;
        @include flex(unset, space-between);
        flex-wrap: wrap;
        max-height: 390px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .celeb {
        line-height: 1.5;
        margin: 10px 5px 10px 0;
        @include flex(center, unset);

        width: 170px;
        max-width: 48%;
        img {
          border-radius: 50%;
          object-fit: cover;
          background-size: cover;
          min-width: 60px;
          height: 60px;
          margin-right: 5px;
        }
        .name {
          color: rgba($color: #0084ff, $alpha: 1);
        }
      }
    }
    .review__item {
      .scroll {
        padding: 30px;
        @include flex(unset, space-between);
        flex-wrap: wrap;
        max-height: 390px;
        width: 360px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .celeb {
        line-height: 1.5;
        margin: 10px 5px 10px 0;
        @include flex(unset, unset);
        img {
          border-radius: 50%;
          object-fit: cover;
          background-size: cover;
          min-width: 60px;
          height: 60px;
          margin-right: 10px;
        }
        .info {
          @include flex(center, space-between);
          .name {
            color: rgba($color: #0084ff, $alpha: 1);
          }
        }
      }
    }
  }
  .media {
    width: 35%;
    padding: 20px;
    div {
      margin: 20px 0;
      iframe {
        border: none;
      }
    }
  }
}
.title {
  margin-top: -100px;
  max-width: 55%;
  h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    color: #fff;
  }
  .genres {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    button {
      border-radius: 20px;
      background-color: transparent;
      border: 1px solid #fff;
      padding: 10px 15px 10px 15px;
      margin: 10px 10px;
      color: #fff;
    }
  }
}
.isMobile__rating {
  padding: 2rem 3rem 1rem 3rem;
  @include flex(center, center);
  text-transform: uppercase;
  font-weight: 500;
  div {
    gap: 1rem;
    margin: 0 10px 0 10px;
    @include flex(center, unset);
    flex-direction: column;
  }
}
.menu {
  margin-bottom: 10px;
}

@media (max-width: 64em) {
  .heading {
    img {
      height: 270px;
    }
  }
  .menu {
    padding-left: 5px;
    padding-right: 5px;
  }
  .film {
    padding: 0;
  }
  .info {
    .middle__col {
      padding-bottom: 20px;
      .overall__item {
        padding-top: 0;
      }
    }
  }
}
@media (max-width: 46.25em) {
  .heading {
    img {
    }
    .watch__btn {
      padding: 10px 30px 10px 30px;
    }
  }
  .title {
    margin-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
  }
}
