@use "../../scss" as *;
.body__wrapp__content {
  @include flex(unset, unset);
  min-height: calc(100vh - 100px);
}
.body__wrapp__content.noFlex {
  // width: 55%;
  display: block;
}
.logo {
  // @include flex(center, space-between);
  padding: 5px 5px 0 5px;
  font-size: 2.5rem;
  font-weight: 500;
  .logo__img {
    @include flex(center, unset);
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    text-transform: uppercase;
    p {
      color: rgba($color: #fff, $alpha: 1);
    }
    span {
      color: rgba($color: #2389ff, $alpha: 1);
    }
  }
  button {
    background-color: transparent;
    svg {
      background-color: transparent;
      font-size: 3rem;
      color: rgba($color: #fff, $alpha: 0.5);
    }
  }
}
.mobile__menu {
  transform: translateX(-1000px);
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
  background-color: rgb(51 51 53);
  &.shrink {
    transform: translateX(0);
  }
  div {
    display: block;
    box-shadow: unset;
  }
}
footer {
  background-color: #000000;
  div {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    > div {
      div {
        margin-bottom: 20px;
      }
    }
  }
  h2 {
    font-size: 1.8rem;
  }
  p {
    margin: 5px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }
  strong {
    color: #2389ff;
  }
}
@media (max-width: 740px) {
  .logo {
    font-size: 2rem;
  }
}
