@use "../../scss/" as *;
.discover {
  flex: 1;
  color: #fff;
}
.header {
  padding-right: 3rem;
  margin-bottom: 3rem;
  @include flex(unset, space-between);
  .title {
    font-size: 3rem;
    font-weight: 700;
  }
}
