@use "../../scss" as *;
.search {
  height: fit-content;
  padding: 5px 10px;
  width: 80%;
  max-height: 40px;
  overflow: hidden;
  color: rgba($color: $white, $alpha: 0.9);
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: rgba($color: $white, $alpha: 0.1);
  transition: height 0.3s ease;
  &.openSearchFilter {
    max-height: unset;
  }
  .search__tab {
    @include flex(center, space-between);

    & + div {
      margin-top: 5px;
      border-top: 1px solid $white;
      p {
        cursor: pointer;
        padding: 5px 0;
        margin: 10px 0;
        border-radius: 5px;
        text-align: center;
        background-color: transparent;
        transition: background-color 0.25s ease;
        &:hover {
          background-color: rgba($color: $white, $alpha: 0.15);
        }
        &.isActive {
          background-color: rgba($color: #ffffff, $alpha: 0.2);
        }
      }
    }
  }
}
.search__result {
  color: $white;
  font-size: 1.8rem;

  p {
    text-align: center;
    padding: 5px 0;
    font-weight: 500;
  }
}

.list__film {
  ul {
    & > li {
      margin-bottom: 20px;
    }
  }
}
.pagin {
  div {
    @include flex(center, center);
    flex-wrap: wrap;
    a {
      @include flex(center, center);
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 0 5px;
    }
  }
  a.currentTab {
    background-color: rgb(40, 126, 197);
  }
}
@media (max-width: 46.25em) {
  .pagin {
    div {
      a {
      }
    }
  }
}
