@use "../../scss/" as *;
.movie__card {
  position: relative;
  color: #fff;
  margin-bottom: 20px;
  transform: scale(1) translateY(10px);
  transition: transform 0.3s ease;
  z-index: 9;
  display: block;
  &:hover {
    transform: scale(1.03) translateY(5px);
  }
  .card__img {
    position: relative;
    background-color: rgba($color: #ffffff, $alpha: 0.05);
    border-radius: 5px;
    width: 172px;

    h4 {
      padding: 0 2px;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      font-size: 1.6rem;
      text-overflow: ellipsis;
      line-height: 30px;
    }
  }
  .vote__averge {
    position: absolute;
    display: flex;
    align-items: center;
    top: 2rem;
    left: 2rem;
    font-size: 1.6rem;
    border-radius: 2rem;
    padding: 0.5rem 0.5rem;
    min-width: 6rem;
    font-weight: 606;

    background-color: rgb(81 121 255);
    span {
      margin-right: 0.2rem;
    }
  }

  img {
    height: 260px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
